name: Lint
on:
  push:
    branches:
      - main 
  pull_request:
jobs:
  # basic linting
  lint:
    name: lint
    runs-on: ubuntu-latest
    permissions:
      # Required: allow read access to the content for analysis.
      contents: read
      # Optional: allow read access to pull request. Use with `only-new-issues` option.
      pull-requests: read
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'
      - name: lint lib
        uses: golangci/golangci-lint-action@v8
        with:
          version: latest
          working-directory: ./lib